@import '~iview/src/styles/index.less';
// Prefix
// Prefix

@font-size-base : 16px;
@font-size-small : 14px;

@btn-font-size : 14px;
@btn-font-size-large : 16px;


// Tag
@tag-font-size  : 14px;

// Media queries breakpoints
// Extra small screen / phone
